.radial{
    background: radial-gradient(#9d4edd,#2a00b7);
    height: 100vh;
}
h1{
    text-align: center;
    margin-top: 120px;
    font-size: 70px;
    font-weight: bolder;
}
.text1{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}
#username{
    height: 25px;
    margin-left: 10px;
    margin-top: -10px;
    width: 500px;
}
.text2{
    margin-left: 404px ;
    font-size: xx-large;
    font-weight: bolder;
}
#username2{
    height: 25px;
    margin-left: 10px;
    margin-top: -10px;
    width: 500px;
}
.btn{
    height: 100px;
    margin-left: 590px;
    margin-top: 50px;
    width: 200px;
    border-radius: 50%;
    font-size: x-large;
}
.btn:hover{
    background: linear-gradient(90deg, #ff00ff, #8a2be2, #0066ff);

}
.hidden {
    display: none;
}


#mysteryAnimation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0,0,0,0.95), #000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    z-index: 1000;
    text-align: center;
}

.spinner {
    width: 100px;
    height: 100px;
    border: 5px solid #8a2be2;
    border-top: 5px solid #ff00ff;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg) scale(1); }
    50% { transform: rotate(180deg) scale(1.2); }
    100% { transform: rotate(360deg) scale(1); }
}
